{{- $email := "" -}}
{{- if hasKey . "email" -}}
{{-   $email = "fishermichaele@gmail.com" -}}
{{- else -}}
{{-   $email = promptString "email" -}}
{{- end -}}

{{- $pythonVersion := "" -}}
{{- if hasKey . "pythonVersion" -}}
{{-   $pythonVersion = "3.9.1" -}}
{{- else -}}
{{-   $pythonVersion = promptString "pythonVersion" -}}
{{- end -}}

[data]
    email = {{ $email | quote }}
    pythonVersion = {{ $pythonVersion | quote }}
[git]
    autoCommit = true
    autoPush = true
