{{- $email := "" -}}
{{- if hasKey . "email" -}}
{{-   $email = "fishermichaele@gmail.com" -}}
{{- else -}}
{{-   $email = promptString "email" -}}
{{- end -}}

{{- $version := "" -}}
{{- if hasKey . "version" -}}
{{-   $version = "3.9.1" -}}
{{- else -}}
{{-   $version = promptString "version" -}}
{{- end -}}

[data]
    email = {{ $email | quote }}
    python.version = {{ $version | quote }}
[git]
    autoCommit = true
    autoPush = true
