{{- $email := "" -}}
{{- if hasKey . "email" -}}
{{-   $email = "fishermichaele@gmail.com" -}}
{{- else -}}
{{-   $email = promptString "email" -}}
{{- end -}}

{{- $pythonversion := "" -}}
{{- if hasKey . "pythonversion" -}}
{{-   $pythonversion = "3.9.1" -}}
{{- else -}}
{{-   $pythonversion = promptString "pythonversion" -}}
{{- end -}}

[data]
    email = {{ $email | quote }}
    pythonversion = {{ $pythonversion | quote }}
[git]
    autoCommit = true
    autoPush = true
