tap "airplanedev/tap"
tap "hashicorp/tap"
tap "homebrew/bundle"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "microsoft/mssql-release"
tap "pulumi/tap"
brew "agg"
brew "zlib"
brew "gmp"
brew "isl"
brew "mpfr"
brew "libmpc"
brew "xz"
brew "zstd"
brew "act"
brew "actionlint"
brew "adns"
brew "bzip2"
brew "ca-certificates"
brew "ncurses"
brew "krb5"
brew "libffi"
brew "mpdecimal"
brew "readline"
brew "sqlite"
brew "asciinema"
brew "perl"
brew "pulumi/tap/pulumi"
brew "awscli"
brew "bash"
brew "black", link: false
brew "brotli"
brew "libpng"
brew "freetype"
brew "fontconfig"
brew "pcre2"
brew "glib"
brew "xorgproto"
brew "libxau"
brew "libxdmcp"
brew "libxcb"
brew "libx11"
brew "libgit2"
brew "libtermkey"
brew "libvterm"
brew "llvm"
brew "luajit"
brew "luv"
brew "libxext"
brew "libxrender"
brew "lzo"
brew "pixman"
brew "cairo"
brew "cmake"
brew "coreutils"
brew "cscope"
brew "icu4c"
brew "libtool"
brew "libunistring"
brew "pkg-config"
brew "guile"
brew "libevent"
brew "libidn2"
brew "libnghttp2"
brew "libtasn1"
brew "nettle"
brew "neovim"
brew "p11-kit"
brew "unbound"
brew "gnutls"
brew "dbus"
brew "dialog"
brew "doctl"
brew "double-conversion"
brew "fribidi"
brew "giflib"
brew "libtiff"
brew "webp"
brew "gd"
brew "gdk-pixbuf"
brew "gh"
brew "git"
brew "git-filter-repo"
brew "git-lfs"
brew "libgpg-error"
brew "libassuan"
brew "libgcrypt"
brew "libksba"
brew "libusb"
brew "npth"
brew "pinentry"
brew "gnupg"
brew "go"
brew "gobject-introspection"
brew "graphite2"
brew "jasper"
brew "netpbm"
brew "gts"
brew "harfbuzz"
brew "pango"
brew "librsvg"
brew "graphviz"
brew "gradle"
brew "helm"
brew "helmfile"
brew "hunspell"
brew "irssi"
brew "jemalloc"
brew "jless"
brew "jo"
brew "jpeg"
brew "jq"
brew "oniguruma"
brew "kubernetes-cli", link: false
brew "little-cms2"
brew "openjpeg"
brew "leptonica"
brew "libb2"
brew "libev"
brew "libpq"
brew "libpqxx"
brew "libproxy"
brew "libpthread-stubs"
brew "libuv"
brew "libyaml"
brew "lua"
brew "md4c"
brew "mosh"
brew "nghttp2"
brew "pcre"
brew "nmap"
brew "node"
brew "openjdk"
brew "openssl@1.1"
brew "pgcli"
brew "ruby-build"
brew "rclone"
brew "rust"
brew "s3cmd"
brew "shellcheck"
brew "shc"
brew "terraform"
brew "terraform-docs"
brew "the_silver_searcher"
brew "tfk8s"
brew "tmux"
brew "telnet"
brew "tree"
brew "treesitter"
brew "unixodbc"
brew "unibilium"
brew "utf8proc"
brew "vim"
brew "watch"
brew "wget"
brew "yarn"
brew "yq"
brew "airplanedev/tap/airplane"
cask "1password-cli"
cask "font-hack-nerd-font"
{{ if eq .chezmoi.os "darwin" -}}
tap "buo/cask-upgrade"
brew "macvim"
brew "reattach-to-user-namespace"
cask "google-drive"
cask "logi-options-plus"
# Commented out because installed manually
# cask "calibre"
cask "cacher"
cask "google-cloud-sdk"
cask "google-chrome"
cask "omnidisksweeper"
cask "signal"
cask "visual-studio-code"
cask "cameracontroller"
cask "cyberduck"
cask "fellow"
mas "1Password for Safari", id: 1569813296
mas "Boop", id: 1518425043
mas "Caffeinated", id: 1362171212
mas "Grammarly for Safari", id: 1462114288
mas "Harvest", id: 506189836
mas "HTTPBot", id: 1232603544
mas "Mactracker", id: 430255202
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "Reeder", id: 1529448980
mas "OpenIn", id: 1643649331
mas "Remote Control", id: 1459070853
mas "Save to Pocket", id: 1477385213
mas "Vimari", id: 1480933944
mas "Tailscale", id: 1475387142
mas "WhatsApp", id: 1147396723
mas "Grammarly: Writing App", id: 1462114288
{{ end -}}

