tap "airplanedev/tap"
tap "hashicorp/tap"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-drivers"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/core"
tap "microsoft/mssql-release"
tap "homebrew/cask-versions"
brew "awscli"
brew "adns"
brew "readline"
brew "ca-certificates"
brew "cameracontroller"
brew "mpdecimal"
brew "sqlite"
brew "xz"
brew "awscli"
brew "bash"
brew "brotli"
brew "bzip2"
brew "libpng"
brew "freetype"
brew "fontconfig"
brew "libffi"
brew "pcre"
brew "glib"
brew "pkg-config"
brew "libpthread-stubs"
brew "xorgproto"
brew "libxau"
brew "libxdmcp"
brew "libxcb"
brew "libx11"
brew "libxext"
brew "libxrender"
brew "lzo"
brew "jo"
brew "pixman"
brew "cairo"
brew "cmake"
brew "gmp"
brew "coreutils"
brew "cscope"
brew "dbus"
brew "dbt"
brew "dialog"
brew "doctl"
brew "double-conversion"
brew "fribidi"
brew "jpeg"
brew "jless"
brew "libtiff"
brew "giflib"
brew "webp"
brew "gd"
brew "gdk-pixbuf"
brew "gh"
brew "pcre2"
brew "git"
brew "python@3.9"
brew "python@3.10"
brew "git-filter-repo"
brew "git-lfs"
brew "libtool"
brew "libunistring"
brew "guile"
brew "libevent"
brew "libidn2"
brew "libnghttp2"
brew "libtasn1"
brew "nettle"
brew "p11-kit"
brew "unbound"
brew "gnutls"
brew "libgpg-error"
brew "libassuan"
brew "libgcrypt"
brew "libksba"
brew "libusb"
brew "npth"
brew "pinentry"
brew "gnupg"
brew "go"
brew "gobject-introspection"
brew "graphite2"
brew "jasper"
brew "netpbm"
brew "gts"
brew "icu4c"
brew "harfbuzz"
brew "pango"
brew "librsvg"
brew "graphviz"
brew "helm"
brew "hunspell"
brew "irssi"
brew "isl"
brew "jemalloc"
brew "oniguruma"
brew "jq"
brew "krb5"
brew "kubernetes-cli", link: false
brew "little-cms2"
brew "openjpeg"
brew "leptonica"
brew "libb2"
brew "libev"
brew "mpfr"
brew "libmpc"
brew "libpq"
brew "libpqxx"
brew "libproxy"
brew "libuv"
brew "libyaml"
brew "lua"
brew "ruby"
brew "mas"
brew "md4c"
brew "mosh"
brew "ncurses"
brew "nghttp2"
brew "nmap"
brew "node"
brew "openjdk"
brew "openssl@3"
brew "perl"
brew "pgcli"
brew "postgresql@14"
brew "pyenv"
brew "ruby-build"
brew "rbenv"
brew "rclone"
brew "reattach-to-user-namespace"
brew "openjdk"
brew "s3cmd"
brew "shellcheck"
brew "telnet"
brew "terraform"
brew "the_silver_searcher"
brew "utf8proc"
brew "terraform-docs"
brew "shellcheck"
brew "tmux"
brew "tree"
brew "unixodbc"
brew "vim", link: false
brew "watch"
brew "wget"
brew "yarn"
brew "zlib"
brew "zstd"
brew "airplanedev/tap/airplane"
brew "yq"
{{ if eq .chezmoi.os "darwin" }}
tap "buo/cask-upgrade"
cask "calibre"
cask "font-hack-nerd-font"
cask "google-cloud-sdk"
cask "google-chrome"
cask "macvim"
cask "omnidisksweeper"
cask "signal"
cask "visual-studio-code"
cask "cyberduck"
cask "1password"
mas "1Password for Safari", id: 1569813296
mas "Boop", id: 1518425043
mas "Caffeinated", id: 1362171212
mas "CI2Go", id: 940028427
mas "Grammarly for Safari", id: 1462114288
mas "Harvest", id: 506189836
mas "HTTPBot", id: 1232603544
mas "Mactracker", id: 430255202
mas "NextDNS", id: 1464122853
mas "Numbers", id: 409203825
mas "OpenIn", id: 1547147101
mas "Pages", id: 409201541
mas "Reeder", id: 1529448980
mas "Remote Control", id: 1459070853
mas "Save to Pocket", id: 1477385213
mas "Slack", id: 803453959
mas "Vimari", id: 1480933944
mas "WhatsApp", id: 1147396723
mas "Tot", id: 1491071483
mas "Grammarly: Writing App", id: 1462114288
{{ end }}
