# All the aliases
alias ll="ls -alh"

alias dog="cat"
alias corn="cron"

alias kz="kustomize $@"

# power management for sleep, lock
alias p="pmset"
alias sleepnow="pmset sleepnow"

# tmux aliases
if [[ "$LC_TERMINAL" == "iTerm2" && "$MOSH" == 0 ]]; then
	alias ta="tmux -CC attach -t$1"
    alias tn="tmux -CC new"
    alias th="tmux splitw -h"
	alias tw="tmux splitw"
	alias tl="tmux ls"
    alias tk="tmux kill-session -t$1"
    alias td="tmux detach-client -t$1"
else
	alias ta="tmux attach -t$1"
	alias tn="tmux new"
	alias tk="tmux kill-session -t$1"
	alias tl="tmux ls"
    alias tk="tmux kill-session -t$1"
    alias td="tmux detach-client -t$1"
fi

alias killdns="sudo killall -HUP mDNSResponder"
alias k6op='kubectl -n k6-operator-system'

if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# finding things
# find {pwd} -name $1
alias fh="find . -name $1"

# chrome with corb disabled
alias chrome="open /Applications/Google\ Chrome.app --args --disable-features=BypassCorbOnlyForExtensionsAllowlist --enable-features=NetworkService"

alias flushcache="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"

# gcloud cli
alias auth="gcloud auth login --update-adc --enable-gdrive-access --force --brief"

# kubectl -n airbyte
alias airbytectl="kubectl -n airbyte"
alias lf="kubectl -n airbyte logs -f"

# tmux ssh
alias loris="ssh loris -t 'tmux -CC attach || tmux -CC new'"

{{ if eq .chezmoi.os "darwin" }}
# Tailscale
alias tailscale="/Applications/Tailscale.app/Contents/MacOS/Tailscale"
{{ end }}

{{ if eq .chezmoi.os "linux" }}
alias brew='env PATH="${PATH//$(pyenv root)\/shims:/}" brew'
{{ end }}

# Docker glcoud
alias gcloud='docker run -ti -e CLOUDSDK_CONFIG=/config/docker/gcloud \

              -v /opt/docker/gcloud:/config/docker/gcloud \
              -v /opt/docker/:/certs \
              gcr.io/google.com/cloudsdktool/google-cloud-cli:stable gcloud'
