## load zsh stuff early
zmodload zsh/zprof
export ZSH=$HOME/.oh-my-zsh
plugins=(z evalcache zsh-nvm)
source $ZSH/oh-my-zsh.sh

## aliases
if [ -f ~/.aliases ]; then
    . ~/.aliases
fi

export HISTTIMEFORMAT='%d/%m/%y %T '
export EDITOR="vim"

for key in "michaelfisher"; do
	if [[ -s ~/.ssh/${key} ]]; then
		ssh-add ~/.ssh/${key};
	fi
done

export GIT="$HOME/git"
function dateu() {
  date --date="@$1"
}

function timestamp() {
  date -j -f "%b %d %T %Z %Y" "${1}" "+%s"
}

if [[ -n "$(brew --prefix)/Caskroom/google-cloud-sdk/google-cloud-sdk/" ]]; then
  source "$(brew --prefix)/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/path.zsh.inc"
  source "$(brew --prefix)/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/completion.zsh.inc"
  export LDFLAGS="-L/usr/local/opt/bzip2/lib -L/usr/local/opt/zlib/lib -L/usr/local/opt/openssl@1.1/lib"
  export CFLAGS="-I/usr/local/opt/bzip2/include -I/usr/local/opt/zlib/include -I/usr/local/opt/openssl@1.1/include -I$(xcrun --show-sdk-path)/usr/include -Wno-implicit-function-declaration"
fi

# tabtab source for serverless package
# uninstall by removing these lines or running `tabtab uninstall serverless`
[ -f ${HOME}/.nvm/versions/node/v6.14.2/lib/node_modules/serverless/node_modules/tabtab/.completions/serverless.bash ] && . ${HOME}/.nvm/versions/node/v6.14.2/lib/node_modules/serverless/node_modules/tabtab/.completions/serverless.bash
# tabtab source for sls package
# uninstall by removing these lines or running `tabtab uninstall sls`
[ -f ${HOME}/.nvm/versions/node/v6.14.2/lib/node_modules/serverless/node_modules/tabtab/.completions/sls.bash ] && . ${HOME}/.nvm/versions/node/v6.14.2/lib/node_modules/serverless/node_modules/tabtab/.completions/sls.bash
# tabtab source for slss package
# uninstall by removing these lines or running `tabtab uninstall slss`
[ -f ${HOME}/.nvm/versions/node/v6.14.2/lib/node_modules/serverless/node_modules/tabtab/.completions/slss.bash ] && . ${HOME}/.nvm/versions/node/v6.14.2/lib/node_modules/serverless/node_modules/tabtab/.completions/slss.bash


# tabtab source for packages
# uninstall by removing these lines
[ -f ~/.config/tabtab/__tabtab.bash ] && . ~/.config/tabtab/__tabtab.bash || true

# gam
gam() { "{{ .chezmoi.homeDir }}/bin/gam/gam" "$@" ; }

# some annoying rbenv stuffs
if [[ -e $HOME/.rbenv ]]; then
  export PATH="$HOME/.rbenv/bin:$PATH"
  _evalcache rbenv init -
fi

# some annoying pyenv stuffs
if [[ -e $HOME/.pyenv ]]; then
	export PATH="$HOME/.pyenv/bin:$PATH"
	_evalcache pyenv init -
	eval "$(pyenv virtualenv-init -)"
fi

# Export PATH here
export PATH="/usr/local/sbin:/usr/local/opt/openjdk/bin:$PATH"

# Start starship
eval "$(starship init zsh)"
