## aliases
if [ -f ~/.aliases ]; then
    source ~/.aliases
fi

export HISTTIMEFORMAT='%d/%m/%y %T '
if [[ "$TERM_PROGRAM" == 'vscode' ]]; then
	export EDITOR="code --wait"
else
	export EDITOR="vim"
fi

export GIT="$HOME/git"
function dateu() {
  date --date="@$1"
}

function timestamp() {
  date -j -f "%b %d %T %Z %Y" "${1}" "+%s"
}

# z.sh
z() { . "{{ .chezmoi.homeDir }}/bin/z/z.sh" "$@" ; }

bindkey -v
bindkey '^R' history-incremental-search-backward
bindkey "^A" vi-beginning-of-line
bindkey "^E" vi-end-of-line


# Export PATH here
{{ if eq .chezmoi.os "linux" -}}
export PATH="/usr/local/sbin:/usr/local/opt/openjdk/bin:$HOME/.pyenv/shims/:$HOME/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/bin:$HOME/bin:$HOME/google-cloud-sdk/bin:$PATH"
export DOCKER_HOST=unix:///run/user/1000/docker.sock
{{ else }}
export PATH="/usr/local/sbin:/usr/local/opt/openjdk/bin:$HOME/.pyenv/shims/:$HOME/bin/:/opt/homebrew/bin/:$HOME/go/bin:/opt:$HOME/.deno/bin/:$PATH"
{{ end }}
declare -a NODE_GLOBALS=(`find ~/.nvm/versions/node -maxdepth 3 -type l -wholename '*/bin/*' | xargs -n1 basename | sort | uniq`)

NODE_GLOBALS+=("node")
NODE_GLOBALS+=("nvm")

#load_nvm () {
#    export NVM_DIR=~/.nvm
#    [ -s "$NVM_DIR/nvm.sh" ] && . "$NVM_DIR/nvm.sh"
#}
#
#
## rbenv
#eval "$(rbenv init - zsh)"

for cmd in "${NODE_GLOBALS[@]}"; do
    eval "${cmd}(){ unset -f ${NODE_GLOBALS}; load_nvm; ${cmd} \$@ }"
done
{{ if eq .chezmoi.os "darwin" -}}
if [[ -d "$(brew --prefix)/Caskroom/google-cloud-sdk/google-cloud-sdk/" ]]; then
  source "$(brew --prefix)/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/path.zsh.inc"
  source "$(brew --prefix)/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/completion.zsh.inc"
  export LDFLAGS="-L/usr/local/opt/bzip2/lib -L/usr/local/opt/zlib/lib -L/usr/local/opt/openssl@1.1/lib"
  export CFLAGS="-I/usr/local/opt/bzip2/include -I/usr/local/opt/zlib/include -I/usr/local/opt/openssl@1.1/include -I$(xcrun --show-sdk-path)/usr/include -Wno-implicit-function-declaration"
fi
{{ end -}}

#export PYENV_ROOT="$HOME/.pyenv"
#command -v pyenv >/dev/null || export PATH="$PYENV_ROOT/bin:$PATH"
#eval "$(pyenv init -)"

# git
fixup() { /usr/bin/git commit -m "fixup" --allow-empty && /usr/bin/git rebase -i "$@" ; }

# urldecode
urldecode() { : "${*//+/ }"; echo -e "${_//%/\\x}"; }

# view octal
octal() { stat -f "%OLp" $1; }

# Export Google Impersonate Service Account
[[ -n $TF_ADMIN ]] && export GOOGLE_IMPERSONATE_SERVICE_ACCOUNT=terraform@$TF_ADMIN.iam.gserviceaccount.com

if [ $(ps ax | grep "[s]sh-agent" | wc -l) -eq 0 ] ; then
    eval $(ssh-agent -s) > /dev/null
    if [ "$(ssh-add -l)" = "The agent has no identities." ] ; then
        # Auto-add ssh keys to ssh agent
        ssh-add ~/.ssh/id_ed25519 > /dev/null 2>&1
    fi
fi

# Activate gcloud configs
activate() { gcloud config configurations activate "$@" ; }
project() {
	if [ "$1" == "prod" ]; then
	  gcloud config set project prod8b61f23e;
    else
	  gcloud config set project dev3869c056;
	fi
}
# Sign in to op
signin() { eval $(op signin "$@") ; }

# motd supervision
if [[ -f /home/fisher/git/tinymotd/data/motd ]]; then
    cat /home/fisher/git/tinymotd/data/motd
fi

test -f $HOME/.config/op/plugins.sh && source $HOME/.config/op/plugins.sh
test -f /usr/share/google-cloud-sdk/completion.zsh.inc && source /usr/share/google-cloud-sdk/completion.zsh.inc

# k8s
creds() {
	gcloud container clusters get-credentials "$1" --region us-central1 --project "$2"
}

# Start starship
eval "$(starship init zsh)"

# terraform
# params:
# $1	terraform command
terraform() {
    if [[ "$(pwd)" == "${HOME}/git/terraform-google-cloud" ]]; then
		pushd modules/regions/us-central1;
		test "$1" != "" && command terraform "$@";
		popd;
    else
		command terraform "$@";
    fi
}

merge() { gh pr merge "$1" --admin }

. "$HOME/.asdf/asdf.sh"
# append completions to fpath
fpath=(${ASDF_DIR}/completions $fpath)

autoload -Uz compinit && compinit

