# All the aliases
alias ll="ls -alh"

alias dog="cat"
alias corn="cron"

# power management for sleep, lock
alias p="pmset"
alias sleepnow="pmset sleepnow"

# tmux aliases
{{ if eq .chezmoi.os "darwin" }}
if [[ "$LC_TERMINAL" == "iTerm2" ]]; then
	alias ta="tmux -CC attach -t$1"
    alias tn="tmux -CC new"
    alias th="tmux splitw -h"
	alias tw="tmux splitw"
else
	alias ta="tmux attach -t$1"
fi
{{ end }}

alias tn="tmux new"
alias tk="tmux kill-session -t$1"
alias tl="tmux ls"

alias killdns="sudo killall -HUP mDNSResponder"

if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# docker-compose
alias dk="docker-compose kill"
alias du="docker-compose up -d"
alias db="docker-compose build $1"
alias dl="docker-compose logs -f $1"
alias dc="docker-compose exec $1 $2 $3"
alias drm="docker-compose rm -f"
alias dd="docker-compose kill; docker-compose rm -f"

# finding things
# find {pwd} -name $1
alias fh="find . -name $1"

# chrome with corb disabled
alias chrome="open /Applications/Google\ Chrome.app --args --disable-features=BypassCorbOnlyForExtensionsAllowlist --enable-features=NetworkService"

# dockerized psql
if [[ `docker info > /dev/null 2>&1` -eq 0 ]]; then
	alias pg="docker run -it --rm postgres psql -h host.docker.internal --set=sslmode=require"
fi

alias flushcache="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"

# gcloud cli
alias adc="gcloud auth login --update-adc"
