[user]
	name = Michael Fisher
	email = {{ .email }}
[pull]
	ff = only
[push]
	default = simple
[alias]
	co = checkout
	br = branch
	ct = commit
	st = status
	aa = add --all :/
	pu = push
    pf = push --force
[url "https://github.com/"]
    insteadOf = ssh://git@github.com
[url "https://github.com/"]
	insteadOf = git@github.com
[credential]
    helper = store
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[help]
	autocorrect = 1
