#!/bin/bash

plugin_install () {
	vim +PluginInstall +qall
}

compile_ycm() {
	cd $HOME/.vim/bundle/YouCompleteMe
    /usr/bin/env python3 install.py --system-libclang --all
}

compile_ycm
plugin_install

