{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Brew auto-install
HOMEBREW_ACCEPT_EULA=Y /opt/homebrew/bin/brew bundle --cleanup --file=~/Brewfile

# Install Starship
curl -sS https://starship.rs/install.sh | sh -s -- -b ~/bin -y
{{ end -}}
