#!/bin/bash

plugin_install () {
	vim +PluginInstall +qall
}

compile_ycm() {
    local canonical_python=$(which python3)

    popd $HOME/.vim/bundle/YouCompleteMe
    $canonical_python install.py --system-libclang --all
    		
}

if [[ $(compile_ycm) -eq 0 ]]; then
   if [[ $(plugin_install) -eq 0]]; then
	exit 0;
   fi
else
   echo -e "Compilation and plugin installation failed!"
   exit 1;
fi

