Host loris
   User fisher
   Hostname upbeat-molybdenum-loris-fjtw
   ForwardAgent yes
   RequestTTY yes
{{- if eq .chezmoi.os "darwin" }}
Host *
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{ end -}}
