Host walter
   User michael
   Hostname sshwalter.local
   ForwardAgent yes
   LocalForward 52698 localhost:52698
Host docker
   User fisher
   Hostname docker.rideand.coffee
   ForwardAgent yes
   RequestTTY yes
   LocalForward 3000 localhost:3000
   LocalForward 5000 localhost:5000
   LocalForward 5001 localhost:5001
   LocalForward 8000 localhost:8000
   LocalForward 8001 localhost:8001
   LocalForward 8080 localhost:8080
   LocalForward 9000 localhost:9000
   LocalForward 9099 localhost:9099
   LocalForward 9199 localhost:9199
   RemoteCommand tmux -CC a -t 0 || tmux -CC new
{{- if eq .chezmoi.os "darwin" }}
Host *
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
{{ end -}}

