# Inserts a blank line between shell prompts
add_newline = true

{{ if eq .chezmoi.os "darwin" }}
format="$all$directory$character"
{{ else if eq .chezmoi.os "linux" }}
format="$all$directory$character"
{{ end }}

[aws]
disabled = true

[character]
success_symbol = "[➜](bold green) "
error_symbol = "[✗](bold red) "

[git_status]
ahead = "⇡${count}"
diverged = "⇕⇡${ahead_count}⇣${behind_count}"
behind = "⇣${count}"

[gcloud]
format = 'on [$symbol$account(@$domain)(\($project\))]($style) '

[memory_usage]
disabled = false

[nodejs]
disabled = true

[terraform]
format = "[$workspace]($style) "

